<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2", style="text-align: center;">
                <p>I love to develop projects that can be useful in everyday life. I like technology, because it allows
                    us to always create something innovative.</p>
            </div>

        </div>
    </div>
</section>